[submodule "submit/ysyx_210539"]
	path = submit/ysyx_210539
	url = https://gitee.com/jaypiper/ysyx-noop.git
[submodule "submit/ysyx_210153"]
	path = submit/ysyx_210153
	url = https://gitee.com/mandelbrot/oscpu-framework.git
[submodule "submit/ysyx_210232"]
	path = submit/ysyx_210232
	url = https://gitee.com/AXE_King/ysyx_code_commit.git
[submodule "submit/ysyx_210544"]
	path = submit/ysyx_210544
	url = https://gitee.com/zhengpushi/ysyx_210544_submit.git
[submodule "submit/ysyx_210417"]
	path = submit/ysyx_210417
	url = https://gitee.com/zzy_15056087685/ysyx.git
[submodule "submit/ysyx_210243"]
	path = submit/ysyx_210243
	url = https://gitee.com/zhong-wujie/ysyx.git
[submodule "submit/ysyx_210247"]
	path = submit/ysyx_210247
	url = https://gitee.com/YH9881z/ysyx_mycpu.git
[submodule "submit/ysyx_210292"]
	path = submit/ysyx_210292
	url = https://gitee.com/congrongye/oscpu-framework
[submodule "submit/ysyx_210285"]
	path = submit/ysyx_210285
	url = https://gitee.com/Undefined01/ysyx_submit.git
[submodule "submit/ysyx_210133"]
	path = submit/ysyx_210133
	url = https://gitee.com/bugwriter9810/ysyx_20210133.git
[submodule "submit/ysyx_210191"]
	path = submit/ysyx_210191
	url = https://gitee.com/MaXKev1n/ysyx_210191.git
[submodule "submit/ysyx_210302"]
	path = submit/ysyx_210302
	url = https://gitee.com/ly-ciao/oscpu-ciao.git
[submodule "submit/ysyx_210611"]
	path = submit/ysyx_210611
	url = https://gitee.com/yu_yake/yuyake-oscpu.git
[submodule "submit/ysyx_210184"]
	path = submit/ysyx_210184
	url = https://gitee.com/gwbeip/ysyx3rd.git
[submodule "submit/ysyx_210456"]
	path = submit/ysyx_210456
	url = https://gitee.com/li_jing_yuan/oscpu_yogurt.git
[submodule "submit/ysyx_210013"]
	path = submit/ysyx_210013
	url = https://gitee.com/rgb000000/RV64I.git
[submodule "submit/ysyx_210171"]
	path = submit/ysyx_210171
	url = https://gitee.com/mollymollymolly/oscpu-framework.git
[submodule "submit/ysyx_210718"]
	path = submit/ysyx_210718
	url = https://gitee.com/szu-yy/submit_ysyx.git
[submodule "submit/ysyx_210479"]
	path = submit/ysyx_210479
	url = https://gitee.com/steiner-s-tree/ysyx_210479.git
[submodule "submit/ysyx_210152"]
	path = submit/ysyx_210152
	url = https://gitee.com/rpg-7/vostok564-submit.git
[submodule "submit/ysyx_210428"]
	path = submit/ysyx_210428
	url = https://gitee.com/yu_hao_zhi/ysyx_210428.git
[submodule "submit/ysyx_210324"]
	path = submit/ysyx_210324
	url = https://gitee.com/maksyuki/tree-core-l2-sumbit.git
[submodule "submit/ysyx_210128"]
	path = submit/ysyx_210128
	url = https://gitee.com/shili2017/zhoushan-submit.git
[submodule "submit/ysyx_210669"]
	path = submit/ysyx_210669
	url = https://gitee.com/linwag/ysyx_riscv_cpu.git
[submodule "submit/ysyx_210134"]
	path = submit/ysyx_210134
	url = https://gitee.com/sunzhibo/open-zjv2.git
[submodule "submit/ysyx_210438"]
	path = submit/ysyx_210438
	url = https://gitee.com/uuucino/ysyx_210438.git
[submodule "submit/ysyx_210295"]
	path = submit/ysyx_210295
	url = https://gitee.com/nevelstar/ysyx_20210295.git
[submodule "submit/ysyx_210413"]
	path = submit/ysyx_210413
	url = https://gitee.com/gitaabbcc/mycpu.git
[submodule "submit/ysyx_210528"]
	path = submit/ysyx_210528
	url = https://gitee.com/wengwz3611/my-riscv-cpu.git
[submodule "submit/ysyx_210195"]
	path = submit/ysyx_210195
	url = https://gitee.com/tang-pengyu/oscpu.git
[submodule "submit/ysyx_210092"]
	path = submit/ysyx_210092
	url = https://gitee.com/yang-yu-1314/yyang-oscpu.git
[submodule "submit/ysyx_210727"]
	path = submit/ysyx_210727
	url = https://gitee.com/retrhelo/hikelchip.git
[submodule "submit/ysyx_210458"]
	path = submit/ysyx_210458
	url = https://gitee.com/df17/ysyx_210458_submit.git
[submodule "submit/ysyx_210062"]
	path = submit/ysyx_210062
	url = https://gitee.com/HiggsTechnology/oscpu-framework.git
[submodule "submit/ysyx_210720"]
	path = submit/ysyx_210720
	url = https://gitee.com/xuezhenpp/ysyx.git
[submodule "submit/ysyx_210574"]
	path = submit/ysyx_210574
	url = https://gitee.com/mei-xiaolong/meixiaolong.git
[submodule "submit/ysyx_210457"]
	path = submit/ysyx_210457
	url = https://gitee.com/color-stripes/ysyx210457_riscv-cpu.git
[submodule "submit/ysyx_210555"]
	path = submit/ysyx_210555
	url = https://gitee.com/xie-qichao/rvcpu_ysyx.git
[submodule "submit/ysyx_210313"]
	path = submit/ysyx_210313
	url = https://gitee.com/meow-wants-fish/oscpu-madmax.git
[submodule "submit/ysyx_210000"]
	path = submit/ysyx_210000
	url = https://gitee.com/jaypiper/NutShell.git
[submodule "submit/ysyx_210634"]
	path = submit/ysyx_210634
	url = https://gitee.com/channingyoung/nut-shell-dasics.git
[submodule "submit/ysyx_210101"]
	path = submit/ysyx_210101
	url = https://gitee.com/cai-luoshan/ysyx_oscpu_mips.git
[submodule "submit/ysyx_210340"]
	path = submit/ysyx_210340
	url = https://gitee.com/xu-lida/oscpu.git
[submodule "submit/ysyx_210407"]
	path = submit/ysyx_210407
	url = https://gitee.com/zzdywc/oscpu-framework.git
[submodule "submit/ysyx_210746"]
	path = submit/ysyx_210746
	url = https://gitee.com/jh_ding/ysyx_210746.git
[submodule "submit/ysyx_210760"]
	path = submit/ysyx_210760
	url = https://gitee.com/jingrongchi_admin/ysyx_210760.git
[submodule "submit/ysyx_210366"]
	path = submit/ysyx_210366
	url = https://gitee.com/Sculptor_W/oscpu.git
[submodule "submit/ysyx_210703"]
	path = submit/ysyx_210703
	url = https://gitee.com/alwenxxd/oscpu.git
