[submodule "submit/ysyx_210539"]
	path = submit/ysyx_210539
	url = https://github.com/jaypiper/ysyx-test.git
[submodule "submit/ysyx_210153"]
	path = submit/ysyx_210153
	url = https://gitee.com/mandelbrot/oscpu-framework.git
[submodule "submit/ysyx_210232"]
	path = submit/ysyx_210232
	url = https://gitee.com/AXE_King/ysyx_code_commit.git
[submodule "submit/ysyx_210544"]
	path = submit/ysyx_210544
	url = https://gitee.com/zhengpushi/ysyx_210544_submit.git
[submodule "submit/ysyx_210417"]
	path = submit/ysyx_210417
	url = https://gitee.com/zzy_15056087685/ysyx.git
[submodule "submit/ysyx_210243"]
	path = submit/ysyx_210243
	url = https://gitee.com/zhong-wujie/ysyx.git
[submodule "submit/ysyx_210247"]
	path = submit/ysyx_210247
	url = https://gitee.com/YH9881z/ysyx_mycpu.git
[submodule "submit/ysyx_210292"]
	path = submit/ysyx_210292
	url = https://gitee.com/congrongye/oscpu-framework
[submodule "submit/ysyx_210285"]
	path = submit/ysyx_210285
	url = https://gitee.com/Undefined01/ysyx_submit.git
[submodule "submit/ysyx_210133"]
	path = submit/ysyx_210133
	url = https://gitee.com/bugwriter9810/ysyx_20210133.git
[submodule "submit/ysyx_210191"]
	path = submit/ysyx_210191
	url = https://gitee.com/MaXKev1n/ysyx_210191.git
[submodule "submit/ysyx_210302"]
	path = submit/ysyx_210302
	url = https://gitee.com/ly-ciao/oscpu-ciao.git
[submodule "submit/ysyx_210611"]
	path = submit/ysyx_210611
	url = https://gitee.com/yu_yake/yuyake-oscpu.git
[submodule "submit/ysyx_210184"]
	path = submit/ysyx_210184
	url = https://gitee.com/gwbeip/ysyx3rd.git
[submodule "submit/ysyx_210456"]
	path = submit/ysyx_210456
	url = https://gitee.com/li_jing_yuan/oscpu_yogurt.git
[submodule "submit/ysyx_210013"]
	path = submit/ysyx_210013
	url = https://gitee.com/rgb000000/RV64I.git
[submodule "submit/ysyx_210171"]
	path = submit/ysyx_210171
	url = https://gitee.com/mollymollymolly/oscpu-framework.git
[submodule "submit/ysyx_210718"]
	path = submit/ysyx_210718
	url = https://gitee.com/szu-yy/submit_ysyx.git
[submodule "submit/ysyx_210479"]
	path = submit/ysyx_210479
	url = https://gitee.com/steiner-s-tree/ysyx_210479.git
[submodule "submit/ysyx_210152"]
	path = submit/ysyx_210152
	url = https://gitee.com/rpg-7/vostok564-submit.git
[submodule "submit/ysyx_210428"]
	path = submit/ysyx_210428
	url = https://gitee.com/yu_hao_zhi/ysyx_210428.git
[submodule "submit/ysyx_210324"]
	path = submit/ysyx_210324
	url = https://gitee.com/maksyuki/tree-core-l2-sumbit.git
[submodule "submit/ysyx_210128"]
	path = submit/ysyx_210128
	url = https://gitee.com/shili2017/zhoushan-submit.git
